#main-SignInContainer {
    width: 100vw;
    height: 100vh;

    background: rgba(196, 196, 196, 1);
}

#main-SignInContainer input {
    border: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

    color: #6A6A6A;
}

#main-SignInContainer .left-content {
    position: absolute;
    height: 100%;
}

#main-SignInContainer .left-content strong {
    position: absolute;
    width: 528px;
    height: 129px;
    left: 40px;
    top: 36px;
    
    font-family: Charmonman;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 171px;
    
    color: #574273;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#main-SignInContainer .left-content span {
    position: absolute;
    width: 504px;
    height: 190px;
    left: 40px;
    top: calc(50% - 190px/2 + 132px);

    font-family: Charmonman;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 95px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#main-SignInContainer .left-content .NotepadImg {
    width: 75%;
    margin-top: 50%;
    margin-left: 190% ;
}

#main-SignInContainer .right-content {
    width: 50vw;
    position: relative;
    display: flex;
    float: right;
}

#main-SignInContainer .right-content .Vector {
    width: 50vw;
    height: 100vh;
    position: absolute;
}

#main-SignInContainer .right-content .VectorBackground {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 2%;
}

#main-SignInContainer .right-content .form {
    position: absolute;
    width: 300px;
    top: 40vh;
    left: 20vw;
    display: inline;
    align-items: center;
    justify-content: center;
}

#main-SignInContainer .right-content .form .usuario {
    position: relative;
    width: 250px;
    height: 50px;
    margin: 10px;
    padding-left: 10px;

    background: #C4C4C4;
    border-radius: 15px;

    outline: none;
}

#main-SignInContainer .right-content .form .password {
    position: relative;
    width: 250px;
    height: 50px;
    margin: 10px;
    padding-left: 10px;
    
    background: #C4C4C4;
    border-radius: 15px;

    outline: none;
}

#main-SignInContainer .right-content .SendForm {
    position: relative;
    width: 150px;
    height: 40px;
    margin: 10px;
    border: none;
    left: 23%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-weight: 1000;
    line-height: 28px;

    color: #574273;
    
    background: #daac39;
    border-radius: 15px;
    outline: none;

    transition: 0.4s;
}

#main-SignInContainer .right-content .SendForm:hover {
    cursor: pointer;
    box-shadow: #c1962a 1px 1px 8px;
    background: #dec37f;
}

#main-SignInContainer .right-content .form span {
    position: relative;
    float: left;
    left: 28%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    color: #E7E3E3;
}

#main-SignInContainer .right-content .SignUpLink {
    position: absolute;
    display: flex;
    width: 50px;
    height: 50px;
    top: 90vh;
    left: 45vw;
    border-radius: 25px;

    background: #daac39;
    transition: 0.4s;

    display: flex;
    justify-content: center;
    align-items: center;
}

#main-SignInContainer .right-content .SignUpLink:hover {
    cursor: pointer;
    box-shadow: #c1962a 1px 1px 8px;
    background: #dec37f;
}